@import url(https://fonts.googleapis.com/css?family=Mouse+Memoirs);

html,body{
	 height: 100%; width: 100%; margin: 0;
}
body {
	overflow: hidden;
	overflow-y: hidden;
}

.logo {
	font-family: 'Mouse Memoirs', sans-serif;
}

.logo.color {
	color: #5cb85c;
}
.chat {
	position:relative;
	background: white;
	box-shadow: 0 0 3px #5cb85c;
  	overflow: auto;
  	height: calc(100% - 40px);
  	
}
.wrapper {
	width: 100%;
	margin: -20px auto;
	overflow: hidden;
	height: calc(100% - 53px);
}

.msg {
	position: relative;
	margin: 0;
	color: white;
	border-radius: 1px;
	margin-top: 7px;
}
.chat > *:last-child {
	margin-bottom: 50px;
}
.typing {
	display: block;
	padding-left: 10px;
	color: #888;
}
.msg span {
	padding: 5px;
	border-radius: 2px;
	word-wrap: break-word;
    max-width: 100%;
        -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

.time {
	font-size: 10px;
	color: #888;
	padding-top: 2px;
	text-align: center;
	display: block;
}

.msg.right span {
	background: #03A9F4;
	
}
.time.left {
	text-align: left;
}
.time.right {
	text-align: right;
}
.msg.left span {
	background: #4CAF50;
}
.msg span img {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}
.form {
	padding: 0;
	height: 40px;
}
.form input,
.form button {
	height: 40px;
}
.height100 {
	height: 100%;
}

.subtext {
	color: #888;
}
#messages {
	overflow: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}


.event i {
	font-size: 50px;
	color: #888;
}

.page-header {
	border:none;
}
.center-link {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 18px;
}
.attach_form {
	position: absolute;
	bottom: 2px;
	width: 30px;
	height: 30px;
	line-height: 27px;
	z-index: 1000;
	right: 70px;
	text-align: center;
	background: white;
}
.attach_form a {
	text-align: center;
}
div.attach {
	text-align: center;
	display: none;
	right: 0;
	background: #fff;
	width: 250px;
	height: 250px;
	position: absolute;
	bottom: 40px;
	box-shadow: 0 0 5px #5cb85c;
	overflow: auto;
	padding-bottom: 20px;
}
div.attach img {
	width: 55px;
}
#messages .sticker {
	pointer-events: none;
	width: 200px;
}

.input {
	box-sizing : border-box;
	height: 100%;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: none;
       -o-transition: none;
          transition: none;
}

.disable-hover {
  pointer-events: none;
}


.disable-hover {
  pointer-events: none;
}

.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}

select {
	background: #5cb85c;
	color: white;
	height: 30px;
	border: none;
}